<div class="title container-fluid">
  <h1 class="hangmantitle">Hangman</h1>
</div>
<div class="gameover-container">
 <button class="btn-default btn hintbutton" ng-show="hintbutton" ng-click="showHint()">Hint</button>
<div class="gameover" ng-show="gameover">
  <h2><strong>Game Complete!</strong></h2><br>
  <span><strong>{{notice}}</strong></span>
</div>
</div>
<h4 class="guesses">Remaining chances: <strong>{{guesses}}</strong></h4>
<div class="gameover-container hints">
<div ng-repeat="hint in newHint track by $index">
  <span><strong>{{hint}}</strong></span>
</div>

</div>


<div class="allhangman container">
<div class="row">
  <div class="hangmancanvas col-sm-6">
    <svg height="500" width="500">
    <polyline points="210,0 0,0 0,500" style="fill:white;stroke:black;stroke-width:45" />

    <circle cx="200" cy="70" r="40" stroke="black" stroke-width="3" fill="none" ng-show="singleCheck.checked0"/>

    <line x1="200" y1="110" x2="200" y2="300" stroke="black" stroke-width="5" ng-show="singleCheck.checked1"/>

    <line x1="200" y1="150" x2="100" y2="200" stroke="black" stroke-width="5" ng-show="singleCheck.checked2"/>

    <line x1="200" y1="150" x2="300" y2="200" stroke="black" stroke-width="5" ng-show="singleCheck.checked3"/>

    <line x1="200" y1="298" x2="150" y2="450" stroke="black" stroke-width="5" ng-show="singleCheck.checked4"/>

    <line x1="200" y1="298" x2="250" y2="450" stroke="black" stroke-width="5" ng-show="singleCheck.checked5"/>
    </svg>

    <button ng-hide="play" class=" playbutton btn btn-default btn-md" data-toggle="modal" data-target="#playModal">Play</button>
    <button class= "playbutton btn btn-default btn-md" ng-show="replay" ng-click="refresh()">Replay</button>

    <div class="lines">
      <span ng-repeat="word in arrayWords track by $index">
        <span ng-repeat="(key, val) in word">
          <div class="letters">
            <div class="letter"> {{val}}</div>
          </div>
        </span>
      </span>
    </div>
  </div>

  <div class="col-sm-6">
  <div class="alphabet">
    <div class="all" ng-repeat="letter in chars">
      <a href ng-hide="hideLetter" ng-click="findLetter(letter)"><button class="alpha btn btn-danger">{{letter}}</button></a>
    </div>
  </div>
</div>

<div class="modal fade" id="playModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close this</span></button>
        <h4 class="modal-title" id="myModalLabel">Enter a secret word</h4>
      </div>

      <div class="modal-body">
        <form action="javascript:void(0);" ng-hide="formsubmit" ng-submit="getWord(game, hint)">
        <div class="form-group">
          <input type="text" class="secretword form-control" ng-model="game.secret" placeholder="Enter a secret word" onkeydown="Check(event);" onkeyup="Check(event);" autofocus required>
        </div>

          <input type="text" class="secretword form-control" ng-model="hint.0" placeholder="Hint1">

          <input type="text" class="secretword form-control" ng-model="hint.1" placeholder="Hint2">
        <div class="form-group">
          <input type="text" class="secretword form-control" ng-model="hint.2" placeholder="Hint3">
        </div>
        <div class="form-group">
          <button class="form-control btn-danger">Enter Word</button>
        </div>
        </form>
        <h1 class="getplaying" ng-show="formsubmit">Get playing!</h1>
        <button ng-show="formsubmit" class="form-control exitmodal btn-danger" data-dismiss="modal">Play Now</button>
    </div>
  </div>
</div>
</div>


<script>
function Check(e) {
    var keyCode = (e.keyCode ? e.keyCode : e.which);
    if (keyCode > 47 && keyCode < 58) {
        e.preventDefault();
    }
}
</script>